@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

//fontsizes
$size-xs: 10px;
$size-xs2: 12px;
$size-sm: 13px;
$size-sm2: 14px;
$size-sm3: 15px;
$size-normal: 16px;
$size-lg: 17px;
$size-xl: 18px;
$size-xl1: 20px;
$size-xl2: 22px;
$size-xl3: 30px;
$size-xl4: 41px;

//fontweights
$light: 300;
$normal: 400;
$bold: 600;
$bolder: 700;

//fontfamily
$opensans: 'opensans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
